<nav class="navbar navbsar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> Rails 101</a>
    </div>


      <ul class="nav navbar-nav navbar-right">
        <li class="<%= active_class('/') %>">
           <%= link_to 'log in', root_path %>
        </li>

      </ul>
   </div>

</nav>
